body {
  display: inline;
  margin: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Space Mono', monospace;
}
.title{
  display: block;
  width: 100px;
  color: white;
  font-size: 2vh;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  width: 30px;
}
/* Canvas for 3D projection */
canvas {
  outline: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1vh;
  z-index: -1;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff7f8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#fff7f8;
}
